<div ng-controller="StatisticsController">   
<fieldset class="standard" style="text-transform : initial">
    <legend>Search flights</legend>
    <div layout="column" layout-wrap layout-gt-sm="row" >
        <div flex-xs flex="50">
			<fieldset>
					<legend>From</legend>
				   	<md-input-container>
						<label>Departure</label>
						<md-select ng-model="dAirport" placeholder="Choose departure">
							<md-option 
									   ng-repeat="airport in airportsArray | orderBy : 'AirportCode'" 
									   ng-value="airport">
								{{ airport.AirportCode }} ({{airport.AirportName}})
							</md-option>
						</md-select>
					</md-input-container>
			</fieldset>
        </div>
		<div flex-xs flex="50">
			 <fieldset>
				<legend>To</legend>
				 <md-input-container>
						<label>Arrival</label>
						<md-select ng-model="aAirport" placeholder="Choose arrival">
							<md-option 
									   ng-repeat="airport in airportsArray  | orderBy : 'AirportCode'" 
									   ng-value="airport">
								{{ airport.AirportCode }} ({{airport.AirportName}})
							</md-option>
						</md-select>
				  </md-input-container>
			</fieldset>
		</div>
	</div>
	<md-button style="float : right" ng-show="(dAirport.AirportCode.length > 0) && (aAirport.AirportCode.length > 0)"
               ng-click="searchFlights()" class="md-raised">Go</md-button>
</fieldset>
	
	


<md-list layout="row">
	<md-list-item ng-repeat="airways in airwaysList">
		<md-list id="flightsList" layout="column">
			<h3>{{airways.name}}</h3>
            <h5 ng-show="airways.flights.length == 0">No flights for this route.</h5>
			<md-list-item ng-repeat="flight in airways.flights" layout="column">
				<md-list id="sector-list">
					<md-list-item class="md-3-line" ng-repeat="sector in flight.sectors">
						<div class="md-list-item-text" layout="column"  flex="50">
							<h3>{{sector.dAirportCode}}</h3>
							<h4>{{sector.depStatus}} at Terminal {{sector.dTerminal}}</h4>
							<p>{{sector.depDate}}<br>{{sector.depTime}}</p>
						</div>
						<div class="md-list-item-text" layout="column"  flex="50">
							<h3>{{sector.aAirportCode}}</h3>
							<h4>{{sector.arrStatus}}  {{sector.aTerminal}}</h4>	
							<p>{{sector.arrDate}}<br>{{sector.arrTime}}</p>
						</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list> 
				<md-divider></md-divider>
			</md-list-item>
		</md-list> 
	</md-list-item>
</md-list> 